section.contacts#contacts
  .container.container--flex.container--column
    h2.title Contacts
    .contacts__items
      .contacts__container
        .contacts__me
          img(src='imgs/me.jpg')
        div
          .contacts__item
            .contacts__icon
              img(src='imgs/email.svg')
            a(href='mailto:work.krakovsky@gmail.com').contacts__value work.krakovsky@gmail.com
          .contacts__item
            .contacts__icon
              img(src='imgs/phone.svg')
            a(href='tel:+380990335944').contacts__value +380990335944
          .contacts__item
            .contacts__icon
              img(src='imgs/link.svg')
            a(href='https://www.linkedin.com/in/sanya-krakovsky' target='_blank' rel="noopener noreferrer").contacts__value Alex Krakovsky
      h2.title Hobbies
      .contacts__hobbies
        .contacts__hobby
          .contacts__hobby-icon
            img(src='imgs/soccer.svg')
          .contacts__value Play football
        .contacts__hobby
          .contacts__hobby-icon
            img(src='imgs/ping.svg')
          .contacts__value Play ping-pong
        .contacts__hobby
          .contacts__hobby-icon
            img(src='imgs/headphone.svg')
          .contacts__value Listen to music
        .contacts__hobby
          .contacts__hobby-icon
            img(src='imgs/book.svg')
          .contacts__value Learn new technologies
    