section.experience#experience
  .container.container--flex.container--column
    h2.title Work Experience
    .experience__item
      .experience__years August 2020 - Present
      .experience__info
        .experience__position Software Engineer
        .experience__company EPAM Systems
        .experience__description I am a front-end developer with 3 years of experience in building and maintaining projects. I prefer a React stack of technologies, but I am ready for the new front-end libraries and frameworks.
    .experience__item
      .experience__years June 2019 - August 2020
      .experience__info
        .experience__position Front-end developer
        .experience__company AsimovCode
        .experience__description I am a front-end developer with 3 years of experience in building and maintaining projects. I prefer a React stack of technologies, but I am ready for the new front-end libraries and frameworks.
    .experience__item
      .experience__years November 2018 - May 2019
      .experience__info
        .experience__position Front-end developer
        .experience__company Q-Start
        .experience__description I am a front-end developer with 3 years of experience in building and maintaining projects. I prefer a React stack of technologies, but I am ready for the new front-end libraries and frameworks.
    .experience__item
      .experience__years February 2018 - October 2018
      .experience__info
        .experience__position WebMaster
        .experience__company Freelance
        .experience__description.experience__description--no-mbt I am a front-end developer with 3 years of experience in building and maintaining projects. I prefer a React stack of technologies, but I am ready for the new front-end libraries and frameworks.
    