doctype html
html(lang='ua')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Alex Krakovsky - Front-end developer')
    title Alex Krakovsky
    link(rel='stylesheet' href='css/main.min.css')
    link(rel='shortcut icon' href='imgs/favicon.ico' type='image/x-icon')
  body
    header.header
      .container.container--flex.container--center.container--spc-btw
        .header__logo
          .header__logo-letter A
          span Alex
          | Krakovsky
        nav.header__menu
          a(href='#').header__item Main
          a(href='#').header__item Skills
          a(href='#').header__item Contacts
      