section.main
  .container.container--flex.container--center
    .me(data-tilt)
      img(src='../../imgs/me.jpg')
    .summary
      h4 Front-end developer
      h1 Alex Krakovsky
      p
        | I am a front-end developer with 3 years of experience in building and maintaining projects. I prefer a React stack of technologies, but I am ready for the new front-end libraries and frameworks.
        br
        | Experienced in modern JavaScript libraries, transformation mockups in modern, responsive, pixel-perfect and cross-browser HTML layout. My current goal is to gain more experience in front-end skills and in soft skills that are highly recommended to have for achieving good career progression and in the future I want to be a technical lead.
      .summary__links
        a(href='#').btn Download CV
        a(href='https://www.linkedin.com/in/sanya-krakovsky/' target='_blank' rel="noopener noreferrer").icon
          img(src='imgs/linkedin.svg')