section.skills#skills
  .container.container--flex.container--column
    h2.title Skills
    .skills__container
      .skills__item
        .skills__icon
          img(src='imgs/html.svg')
        .skills__name HTML
        .rate
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item
          .rate__item
      .skills__item
        .skills__icon
          img(src='imgs/css.svg')
        .skills__name CSS
        .rate
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item
          .rate__item
      .skills__item
        .skills__icon
          img(src='imgs/js.svg')
        .skills__name JavaScript
        .rate
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item
          .rate__item
          .rate__item
      .skills__item
        .skills__icon
          img(src='imgs/react.svg')
        .skills__name React
        .rate
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item
          .rate__item
          .rate__item
      .skills__item
        .skills__icon
          img(src='imgs/redux.svg')
        .skills__name Redux
        .rate
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item
          .rate__item
          .rate__item
      .skills__item
        .skills__icon
          img(src='imgs/sass.svg')
        .skills__name SASS/SCSS
        .rate
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item
          .rate__item
          .rate__item
      .skills__item
        .skills__icon
          img(src='imgs/gulp.svg')
        .skills__name Gulp
        .rate
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item
          .rate__item
          .rate__item
      .skills__item
        .skills__icon
          img(src='imgs/webpack.svg')
        .skills__name WebPack
        .rate
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item
          .rate__item
          .rate__item
      .skills__item
        .skills__icon
          img(src='imgs/git.svg')
        .skills__name Git
        .rate
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item
          .rate__item
          .rate__item
      .skills__item
        .skills__icon
          img(src='imgs/bem.svg')
        .skills__name BEM
        .rate
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item
      .skills__item
        .skills__icon
          img(src='imgs/pug.svg')
        .skills__name Pug
        .rate
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item
          .rate__item
          .rate__item
          .rate__item
      .skills__item
        .skills__icon
          img(src='imgs/bootstrap.svg')
        .skills__name Bootstrap
        .rate
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item.rate__item--filled
          .rate__item
          .rate__item
          .rate__item
          .rate__item