.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  transition: $ease;
  z-index: 2;

  &.scrolled {
    background-color: $white;
    box-shadow: 0 -3px 12px 0 rgba(0, 0, 0, 0.12);
  }

  &__logo {
    color: $black;
    font-size: 22px;
    display: flex;
    align-items: center;

    span {
      font-weight: $bold;
      margin-right: 6px;
    }

    &-letter {
      width: 43px;
      height: 43px;
      border-radius: 50%;
      background-color: $green;
      margin-right: 10px;
      color: $white;
      text-align: center;
      line-height: 43px;
      font-size: 30px;
      font-weight: $bold;
    }
  }

  &__items {
    display: flex;

    li {
      margin-right: 45px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__item {
    text-decoration: none;
    color: $black;
    transition: $ease;
    padding: 4px 0;
    opacity: 0.55;

    &.active {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }
}
