// colors
$white: #fdfdfd;
$whiteGrey: #f6f6f6;
$grey: #aaa;
$greyBlack: #666666;
$lightGrey: #e5e5e5;
$black: #2e2c2f;
$green: #54ca95;

//fonts
$fontName: "Poppins", sans-serif;
$bold: 600;
$medium: 500;

//media
$mobile: 575px;
$tablet: 768px;
$ipad-pro: 1024px;
$laptop: 1199px;

//other
$ease: all 0.35s ease;
