// colors
$white: #fbf9f9;
$cyan: #28828a;
$grey: #aaa9a9;

//fonts
$fontName: "Arial", sans-serif;
$bold: 700;
$medium: 500;

//media
$mobile: 575px;
$tablet: 768px;
$ipad-pro: 1024px;
$laptop: 1199px;

//other
$transition: all 0.35s ease;
